.vs/
packages/
bin/
obj/
Output/
Go/Workspace/
/C#/UnitySample/Library
/C#/UnitySample/Packages
/C#/UnitySample/Temp
/C#/UnitySample/*.csproj
/C#/UnitySample/*.sln
C#/UnitySamples/UnitySample/Library/
C#/UnitySamples/PhantasmaGame/Library/
C#/UnitySamples/PhantasmaGame/Temp/
