.vs/
packages/
bin/
obj/
Output/
Go/Workspace/
/C#/UnitySample/Library
/C#/UnitySample/Packages
/C#/UnitySample/Temp
/C#/UnitySample/*.csproj
/C#/UnitySample/*.sln
C#/UnitySamples/UnitySample/Library/
C#/UnitySamples/PhantasmaGame/Library/shadercompiler-UnityShaderCompiler.exe2.log
C#/UnitySamples/PhantasmaGame/Temp/UnityTempFile-8f04f6acafcf106468d01814c371ffe2
