.vs/
packages/
bin/
obj/
Output/
.idea/
Go/Workspace/
/C#/UnitySample/Library
/C#/UnitySample/Packages
/C#/UnitySample/Temp
/C#/UnitySample/*.csproj
/C#/UnitySample/*.sln
C#/UnitySamples/UnitySample/Library/
C#/UnitySamples/PhantasmaGame/Library/
C#/UnitySamples/PhantasmaGame/Temp/
C#/UnitySamples/PhantasmaGame/Assets/AssetStoreTools
C#/UnitySamples/PhantasmaGame/Assets/AssetStoreTools.meta
C#/UnitySamples/PhantasmaApp/Library/
C#/UnitySamples/PhantasmaApp/Temp/